.song-row{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 2rem;
    border-bottom: 1px solid #aaaaaa;
    background-color: rgb(15, 15, 15);
}

.izq{
    display: flex;
    gap: 4rem;
    align-items: center;
}

.datos{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.song-artist{
    color: rgb(180, 180, 180);
    font-size: 0.9em;
}

.song-title{
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: bold;
}

.song-duration{
    color: rgb(156, 156, 156);
    font-size: 0.9em;
    align-self: center;
    margin-right: 1rem;
}

.song-number{
    justify-content: center;
    text-align: center;
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.song-album{
    color: rgb(156, 156, 156);
    font-size: 0.9em;
    align-self: center;
    margin-right: 2rem;
    text-align: center;
}