@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

#login-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-image: radial-gradient(circle, rgb(11, 11, 42), rgb(1, 62, 33));
    color: black;
}

#titulo{
    color: wheat;
    justify-self: center;
}

#login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    border-radius: 15px;
    width: 25rem;
    height: auto;
    color: black;
}

#login h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login h2{
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#credenciales{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    width: 90%;
}

#credenciales input{
    height: 2rem;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
}

#credenciales label{
    font-family: "Stack Sans Text";
    font-size: 0.85rem;
    color: rgb(44, 44, 44);
    
}

#submit{
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: darkgreen;
    color: white;
    font-family: "Stack Sans Text";
    transition: 0.5s;
    outline: none;
}

#submit:hover{
    box-shadow: inset 0 0 0 2px rgb(174, 241, 118);
    transition: box-shadow 0.3s;
}

#submit:active{
    background-color: rgb(0, 70, 12);
}

#preg{
    margin-bottom: 5px;
}

#register{
    margin-top: 0;
    margin-bottom: 20px;
    background-color: rgb(31, 31, 31);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

#register:hover{
    box-shadow: inset 0 0 0 2px rgb(118, 202, 241);
    transition: box-shadow 0.3s;
}

#register:active{
    background-color: rgb(0, 0, 0);
}