html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: border-box;
    background-color: rgb(23, 23, 23);
    background-image: none;
}

#grid-album{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1rem 2rem;
}