#main-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
    background-color: rgb(23, 23, 23);
    background-image: none;
}

#grid-album{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 1.5rem;
    padding: 1rem 2rem;
    height: auto;
}