@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

html, body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: radial-gradient(circle, rgb(11, 11, 42), rgb(1, 62, 33));
    color: black;
}

#login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    border-radius: 15px;
    width: 25rem;
    height: auto;
    color: black;
}

#login h2{
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#subt{
    margin-top: 0.2rem;
    font-size: small;
    color: rgb(70, 70, 70);
}

#credenciales{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    width: 90%;
}

#credenciales input{
    height: 2rem;
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-radius: 5px;
}

#credenciales label{
    font-family: "Stack Sans Text";
    font-size: 0.85rem;
    color: rgb(44, 44, 44);
    
}

#submit{
    width: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: darkgreen;
    color: white;
    font-family: "Stack Sans Text";
    transition: 0.5s;
    outline: none;
}

#submit:hover{
    box-shadow: inset 0 0 0 2px rgb(174, 241, 118);
    transition: box-shadow 0.3s;
}

#submit:active{
    background-color: rgb(0, 70, 12);
}

#preg{
    margin-bottom: 5px;
}

#volver{
    margin-top: 1rem;
    margin-bottom: 20px;
    padding: 5px;
    background-color: none;
    color: rgb(5, 5, 5);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    font-size: small;
}

#volver:hover{
    text-decoration: underline solid black 1px;
}

#volver:active{
    background-color: rgb(0, 0, 0);
}

#feedback{
    margin-top: 0;
    align-self: center;
    top: 60%;
    text-align: center;
    font-size: small;
}